
.vs/UserApi/config/applicationhost.config
.vs/UserApi/DesignTimeBuild/.dtbcache.v2
.vs/UserApi/FileContentIndex/2be3c720-5aaf-4ffb-8d4b-7f25ba53419c.vsidx
.vs/UserApi/FileContentIndex/55c5c7a0-6786-48d5-b07b-a915df656f68.vsidx
.vs/UserApi/FileContentIndex/6ce2d67e-2d86-4a96-8f34-759ddb9961c8.vsidx
.vs/UserApi/FileContentIndex/fa2a7cd4-1bb6-4020-b478-51942285e238.vsidx
.vs/UserApi/FileContentIndex/fb38057d-69cf-4a2a-a268-e4e72b620533.vsidx
.vs/UserApi/v17/.suo
.vs/UserApi/v17/DocumentLayout.json
